<?xml version="1.0" encoding="utf-8"?>
<!-- Beispiel Konfiguration -->
<config>
    <setting>
        <appearance>system</appearance>
        <server_host>192.168.2.12</server_host>
        <server_port>1883</server_port>
        <client_id>testing-config</client_id>
        <client_user>ms</client_user>
        <client_pw>geheim</client_pw>
    </setting>
    <action>
        <description>Sound - Auf</description>
        <run>sound</run>
        <file>sound/sig_open.wav</file>
        <parameters>none</parameters>
    </action>
    <action>
        <description>Sound - Zu</description>
        <run>sound</run>
        <file>sound/sig_close.wav</file>
        <parameters>none</parameters>
    </action>
    <action>
        <description>Sound - Benachrichtigung</description>
        <run>sound</run>
        <file>sound/sig_notification.wav</file>
        <parameters>none</parameters>
    </action>
    <action>
        <description>Sound - Gefahr</description>
        <run>sound</run>
        <file>sound/sig_danger.wav</file>
        <parameters>none</parameters>
    </action>
    <action>
        <description>Bash-Skript</description>
        <run>bash</run>
        <file>/home/User/test.sh</file>
        <parameters>none</parameters>
    </action>
    <device>
        <description>Tür Haus</description>
        <adress>zigbee/0/a4c138b9b93ff706/opened</adress>
        <default_false>Sound - Zu</default_false>
        <default_true>Sound - Auf</default_true>
        <color_false>default</color_false>
        <color_true>default</color_true>
        <type>bool</type>
    </device>
    <device>
        <description>Tür Wohnung</description>
        <adress>zigbee/0/a4c138395f26f84e/opened</adress>
        <default_false>Sound - Zu</default_false>
        <default_true>Sound - Auf</default_true>
        <color_false>default</color_false>
        <color_true>default</color_true>
        <type>bool</type>
    </device>
    <device>
        <type>separator</type>
    </device>
    <device>
        <description>Fenster Wohnzimmer</description>
        <adress>zigbee/0/a4c138c96517e05a/opened</adress>
        <default_false>Aus</default_false>
        <default_true>Aus</default_true>
        <color_false>default</color_false>
        <color_true>default</color_true>
        <type>bool</type>
    </device>
    <device>
        <description>Fenster Küche</description>
        <adress>zigbee/0/a4c138cbbc805659/opened</adress>
        <default_false>Aus</default_false>
        <default_true>Aus</default_true>
        <color_false>default</color_false>
        <color_true>default</color_true>
        <type>bool</type>
    </device>
    <device>
        <type>separator</type>
    </device>
    <device>
        <description>Rauch Wohnzimmer</description>
        <adress>zigbee/0/0015bc003101cb30/smoke</adress>
        <default_false>Aus</default_false>
        <default_true>Sound - Gefahr</default_true>
        <color_false>default</color_false>
        <color_true>default</color_true>
        <type>hidden</type>
    </device>
    <device>
        <description>Rauch Serverraum</description>
        <adress>zigbee/0/0015bc003101d1f2/smoke</adress>
        <default_false>Aus</default_false>
        <default_true>Sound - Gefahr</default_true>
        <color_false>default</color_false>
        <color_true>default</color_true>
        <type>hidden</type>
    </device>
    <device>
        <description>Wasser Heizungskeller</description>
        <adress>zigbee/0/a4c138851b1343e6/detected</adress>
        <default_false>Aus</default_false>
        <default_true>Sound - Gefahr</default_true>
        <color_false>default</color_false>
        <color_true>default</color_true>
        <type>hidden</type>
    </device>
    <device>
        <description>Wasser Küche</description>
        <adress>zigbee/0/a4c138ef8a60b8ff/detected</adress>
        <default_false>Aus</default_false>
        <default_true>Sound - Gefahr</default_true>
        <color_false>default</color_false>
        <color_true>default</color_true>
        <type>hidden</type>
    </device>
    <device>
        <description>Ryzen 9</description>
        <adress>ping/0/ctioBroker/192_168_2_27</adress>
        <default_false>Aus</default_false>
        <default_true>Aus</default_true>
        <color_false>white</color_false>
        <color_true>green</color_true>
        <type>bool</type>
    </device>
    <device>
        <description>Galaxy S9</description>
        <adress>ping/0/ctioBroker/192_168_2_66</adress>
        <default_false>Aus</default_false>
        <default_true>Aus</default_true>
        <color_false>white</color_false>
        <color_true>green</color_true>
        <type>bool</type>
    </device>
    <device>
        <type>separator</type>
    </device>
    <device>
        <description>Desktop Signal</description>
        <adress>0_userdata/0/Desktop_Signal</adress>
        <default_false>Aus</default_false>
        <default_true>Aus</default_true>
        <color_false>white</color_false>
        <color_true>green</color_true>
        <type>bool</type>
    </device>
    <device>
        <type>separator</type>
    </device>
    <device>
        <description>Temperatur Außen</description>
        <adress>zigbee/0/a4c138b90cb634ba/temperature</adress>
        <round>1</round>
        <unit> °C</unit>
        <type>float</type>
    </device>
    <device>
        <description>Luftfeuchtigkeit</description>
        <adress>zigbee/0/a4c138b90cb634ba/humidity</adress>
        <round>0</round>
        <unit> %</unit>
        <type>float</type>
    </device>
    <device>
        <type>separator</type>
    </device>
    <device>
        <description>Aral (E5)</description>
        <adress>tankerkoenig/0/stations/1/e5/feed</adress>
        <round>2</round>
        <unit> €</unit>
        <type>float</type>
    </device>
</config>
